set ignorecase
set smartcase
set hlsearch
set number
set relativenumber
set surround

let mapleader = ' '

" Major mode commands
nmap , <leader>m
nnoremap <leader>m= :action ReformatCode<CR>
nnoremap <leader>mrr :action RenameElement<CR>
nnoremap <leader>mig :action Generate<CR><ESC>
nnoremap <leader>mit :action InsertLiveTemplate<CR>
nnoremap <leader>mD :action SafeDelete<CR>

" Files
nnoremap <leader>feR :source ~/.ideavimrc<CR>
nnoremap <leader>pf :find<CR>
nnoremap <leader>/ :action SearchEverywhere<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>fR :action RenameFile<CR>
nnoremap <leader><tab> :action VimFilePrevious<CR>

" Windows
nnoremap <leader>wV :action VimWindowSplitVertical<CR>
nnoremap <leader>wS :action VimWindowSplitHorizontal<CR>
nnoremap <leader>wd :action VimWindowClose<CR>
nnoremap <leader>wj :action VimWindowDown<CR>
nnoremap <leader>wh :action VimWindowLeft<CR>
nnoremap <leader>wl :action VimWindowRight<CR>
nnoremap <leader>wk :action VimWindowUp<CR>
map <leader>w<tab> :action VimWindowPrev<CR>

" Buffers (tabs)
map <leader>bb :action RecentFiles<CR>
map <leader>bd :action CloseContent<CR>
map <leader>bn :action VimMotionNextTab<CR>
map <leader>bp :action VimMotionPreviousTab<CR>

" Compiling
nnoremap <leader>cr :action Run<CR>
nnoremap <leader>cR :action ChooseRunConfiguration<CR>
nnoremap <leader>cd :action Debug<CR>
nnoremap <leader>cD :action ChooseDebugConfiguration<CR>

" Misc.
map <leader>; <C-/>
map <leader><space> <c-s-a>
