alias ls='ls --color=auto'
alias reboot='sudo reboot'
alias tree='tree -C'
alias pacin='sudo pacman -S'
alias pacun='sudo pacman -Rs'
alias update-mirrors='sudo reflector --verbose --country 'Denmark' --age 12 --sort rate --save /etc/pacman.d/mirrorlist'
alias update-system='updatemirrors && pacaur -Syu'
alias i3config='vim ~/.config/i3/config'
alias zconfig='vim $ZDOTDIR/.zshrc'
alias aconfig='vim $ZDOTDIR/.aliases'
alias irc='irssi'
