"*":
  "atom-beautify":
    html:
      wrap_line_length: 140
    js:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
    typescript:
      beautify_on_save: true
  "atom-typescript":
    allowJS: true
  "autoupdate-packages":
    handling: "Update automatically and silently"
    lastUpdateTimestamp: 1549311568833
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "about"
      "autoflow"
      "background-tips"
      "github"
      "metrics"
      "open-on-github"
      "welcome"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Source Code Pro SemiBold, Menlo, Consolas, DejaVu Sans Mono, monospace"
  "exception-reporting":
    userId: "d8bce870-3f78-4b88-ad49-0ae6cb82db93"
  "linter-ui-default":
    panelHeight: 300
  "package-sync":
    forceOverwrite: true
  pigments:
    notifyReloads: false
  "vim-mode-plus":
    keymapYToYankToLastCharacterOfLine: true
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
