packages: [
  "atom-alignment"
  "atom-beautify"
  "atom-typescript"
  "autoupdate-packages"
  "busy-signal"
  "editorconfig"
  "emmet"
  "ex-mode"
  "file-icons"
  "git-plus"
  "intentions"
  "language-diff"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "open-this"
  "package-sync"
  "paner"
  "pigments"
  "project-plus"
  "rainbow-delimiters"
  "relative-numbers"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "which-key"
]
