@define-color foreground #ffffff;
@define-color foreground-inactive #7f8c8d;
@define-color background #000000;
@define-color background-alt #31363b;
@define-color active #003ea3;

* {
    font-family: Noto Sans Regular;
    font-size: 15px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    min-width: 2rem;
    min-height: 2rem;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.visible {
    background-color: @background-alt;
}

#workspaces button.active {
    background-color: @active;
}

#tray {
    padding-right: 0;
}

@keyframes blink {
    to {
        background-color: #000000;
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
