!!NumiX Darkest.
!!BY WuX 

!*background: #000000
!*foreground: #FFFFFF

!Black
*color0:    #555555
*color8:    #888888

!Red
*color1:    #9C3528
*color9:    #d64937

!Green
*color2:    #61BC3B
*color10:   #86DF5D

!yellow
*color3:    #F3B43A
*color11:   #FDD75A

!blue
*color4:    #0D68A8
*color12:   #0F75BD

!Magenta
*color5:    #744560
*color13:   #9E5E83

!Cyan
*color6:    #288e9c
*color14:   #37c3d6

!White
*color7:    #A2A2A2
*color15:   #f9f9f9

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt*depth: 32
URxvt.foreground: #ffffff
URxvt.background: [80]#000000

URxvt.font: xft:Source Code Pro Semibold:size=11
URxvt.letterSpace: 0
URxvt.internalBorder: 4

*antialias:  true
*autohint:   true

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: 2017 leofa
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   argb:cc1d1f21, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   argb:cc1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9
! "Color scheme for active row" Set from: File
rofi.color-active:                   argb:cc1d1f21, #65acff, argb:e44b5160, #4491ed, #f9f9f9
! "Color scheme window" Set from: File
rofi.color-window:                   argb:cc2d303b, #7c8389, #1d1f21
! "Separator style (none, dash, solid)" Set from: XResources
rofi.separator-style:                solid
