!!NumiX Darkest.
!!BY WuX 

!*background: #000000
!*foreground: #FFFFFF

!Black
*color0:    #555555
*color8:    #888888

!Red
*color1:    #9C3528
*color9:    #d64937

!Green
*color2:    #61BC3B
*color10:   #86DF5D

!yellow
*color3:    #F3B43A
*color11:   #FDD75A

!blue
*color4:    #2ba7ff
*color12:   #0F75BD

!Magenta
*color5:    #744560
*color13:   #9E5E83

!Cyan
*color6:    #288e9c
*color14:   #37c3d6

!White
*color7:    #A2A2A2
*color15:   #f9f9f9

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt*depth: 32
URxvt.foreground: #ffffff
URxvt.background: [80]#000000

URxvt.font: xft:Source Code Pro Semibold:size=11
URxvt.letterSpace: a
URxvt.internalBorder: 4
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

*antialias:  true
*autohint:   true

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: 2017 leofa
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   argb:001d1f21, argb:ccc4cbd4, argb:00404552, argb:cc0083ff, #f9f9f9
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   argb:001d1f21, argb:cccc6666, argb:004b5160, argb:00a54242, #f9f9f9
! "Color scheme for active row" Set from: File
rofi.color-active:                   argb:001d1f21, #65acff, argb:004b5160, argb:004491ed, #f9f9f9
! "Color scheme window" Set from: File
rofi.color-window:                   argb:cc1d1f21, argb:cc1d1f21, #1d1f21
! "Separator style (none, dash, solid)" Set from: XResources
rofi.separator-style:                none
