alias ls='ls --color=auto'
alias reboot='sudo reboot'
alias tree='tree -C'
alias pacinstall='sudo pacman -S'
alias pacuninstall='sudo pacman -Rs'
alias updatemirrors='sudo reflector --verbose --country 'Denmark' --age 12 --sort rate --save /etc/pacman.d/mirrorlist'
alias i3conf='vim ~/.config/i3/config'
alias irc='irssi'
alias aur='yaourt'
